<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManagedFusion.Crawler.Properties.Settings.CrawlerConnectionString"
            connectionString="Data Source=nick-laptop\sqlexpress;Initial Catalog=Crawler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>